:root {
    --color-primary: #E63946;
    --color-secondary: #FFD166;
    --color-accent: #8B5E3C;
    --color-background: #FFF3E0;
    --color-highlight: #2A9D8F;
    --text-color: rgb(255, 255, 255);
    --letter-spacing: .1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

body {
    background-color: var(--color-background);
}

.header {
    background-color: var(--color-accent);
}

.header ul {
    text-align: center;
    list-style: none;
    padding: 2rem;
}

.header ul li {
    padding: 1rem 1rem;
    margin: 1rem 2rem;
    font-size: 1rem;
    background-color: var(--color-primary);
    border-radius: .5rem;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    font-weight: bold;
}

.header ul li:hover {
    background-color: var(--color-secondary);
    color: var(--color-highlight);
}

.header ul li a {
    color: var(--text-color);
    text-decoration: none;
}

.header .active {
    background-color: var(--color-secondary);
}

.container_text {
    text-align: center;
    padding: 0 2rem;
    color: var(--color-accent);
    letter-spacing: .1rem;
}

.container_title_h1 {
    font-size: 5rem;
}

img {
    width: 100%;
}

.card img {
    max-width: 18.75rem;
}

.cards {
    padding: 2rem 1rem 0rem;
}

.card {
    background-color: var(--color-accent);
    margin: 1rem;
    padding: 1rem 1rem 2rem;
    border-radius: 1rem;
    color: var(--text-color);
    text-align: center;
    flex: 1;
}

.card_title {
    padding: 0 2rem;
    text-align: center;
    background-color: var(--color-highlight);
    padding: .5rem;
    margin: 1rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    color: var(--text-color);
    letter-spacing: var(--letter-spacing);
}

.card_name,
.card_description p {
    padding-bottom: 1rem;
    letter-spacing: var(--letter-spacing);
}

.card_name {
    text-transform: uppercase;
}

.card_price {
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 1rem;
}

.card_description .price {
    background-color: var(--color-secondary);
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card_description .price:hover {
    background-color: #e9bf5f;
}

.card_description a {
    text-decoration: none;
    color: var(--text-color);
}

.cards_option {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color-accent);
    text-transform: uppercase;
    margin: 2rem 1rem;
    border-radius: 1rem;
    color: var(--text-color);
    padding: 0 1.4rem;
    background-color: var(--color-highlight);
}

.cards_option h3 {
    font-weight: 500;
    letter-spacing: var(--letter-spacing);
    flex: 1;
}

.cards_option a {
    color: var(--color-background);
    background-color: var();
    padding: .5rem;
    margin-right: .5rem;
    font-size: 2.5rem;
}

.fa-money-bill-1 {
    margin-right: .2rem;
}


.cards_drinks {
    padding: 2rem 0rem 0rem;
    margin: 1rem;
}

.card_drink {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 1rem;
    color: var(--text-color);
    margin: 1rem 1rem;
    padding: .5rem;
    flex: 1;
}

.card_options_drink a {
    text-decoration: none;
}

.card_drink img {
    max-width: 100px;
}

.card_drink h3 {
    padding: 1rem;
    flex: 1;
}


.container_footer {
    text-align: center;
    background-color: var(--color-accent);
    color: var(--text-color);
    letter-spacing: var(--letter-spacing);
    padding: 2rem 2rem 1rem;
}

.container_footer h3,
.footer_p {
    padding-bottom: 1rem;
    letter-spacing: var(--letter-spacing);
}

.container_footer h3 {
    text-transform: uppercase;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: .5rem;
    grid-auto-flow: dense;
}

.row>.sm-12 {
    grid-column: 1 / -1;
}

@media screen and (min-width: 37.5em) {
    .header ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2rem;
    }

    .header ul li {
        margin: 0.5rem;
        flex: 1;
    }

    .container_title_h1 {
        font-size: 10rem;
    }

    .container_text p {
        font-size: 1.5rem;
    }

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
    }

    .card_options_drink {
        text-align: center;
        text-transform: uppercase;
    }

}

@media screen and (min-width: 48em) {
    .card {
        flex-direction: column;
        height: 100%;
    }

    .card_description {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .card img {
        min-height: 18.75em;
    }

    .card_options_drink img {
        width: 6.25em;
        height: 5.9375em;
    }

    .price {
        margin-top: auto;
    }

    .row>.md-1-7 {
        grid-column: 1 / 7;
    }

    .row>.md-7-13 {
        grid-column: 7 / 13;
    }
}

@media screen and (min-width: 64em) {
    .row>.lg-1-7 {
        grid-column: 1 / 7;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .row>.lg-7-13 {
        grid-column: 7 / 13;
    }

    .container_p {
        margin-top: 1rem;
    }
}